<!-- Form for logged-in user to submit a new feedback -->

{% extends 'base.html' %} 
{% block title %}Add feedback{% endblock %} 

{% block content %}

<div class="container">
    <h1 class="display-1 text-center">Add your feedback {{username}}</h1>
    <div class="col-md-8">
        <form method="POST">
            <!-- Hidden tag -->
            {{form.hidden_tag()}}

            <!-- Iterate over the form to create the form template -->
            {% for field in form %}
                {% if field.widget.input_type != 'hidden' %}
                <!-- Fields -->
                <div class="form-group">
                    <!-- Field Label -->
                    {{field.label(class="form-label")}}
                    <!-- Display input fields -->
                    {{field(class="form-control")}}

                    <!-- Errors in the fields -->
                    {% for error in field.errors %}
                        <div class="text-danger">
                            {{error}}
                        </div>
                     {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-success btn-lg">Submit feedback</button>
        </form>
    </div>

</div>

{% endblock %} 

